@import url("fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-Yellow text-DarkPurple border border-Yellow py-2 px-6 sm:px-8 rounded-xl font-semibold text-lg;
  }
  .TxtBtn {
    @apply bg-transparent text-Yellow border-none 
  py-2 px-8 font-semibold text-lg;
  }
}

:root {
  /* Font color */
  --urbanist-font-color: #fafafa;
  --urbanist-secondary-color: #e3c648;

  /* Font style */
  --urbanist-font-style-normal: normal;
  --urbanist-font-style-italic: italic;
}

body {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  background-color: #0a0217;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
 
}
* {
  
  font-family: "Urbanist", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--urbanist-font-color);
  letter-spacing: normal;
}

h1,
h2,
h3 {
  font-weight: 600;
}
h1 {
  line-height: 3rem;
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
  line-height: 2.4rem;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
h4{
  font-size: 1.25rem;
  line-height: 1.65rem;
  font-weight: 600;
}
p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

li {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

a {
  font-weight: 500;
  color: var(--urbanist-font-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--urbanist-secondary-color);
}

.nav a:focus {
  color: var(--urbanist-secondary-color);
}

/*services card glassmorphoric effect*/
.glass-container {
  border-radius: 10px;
  box-shadow: -1px 0 1px 0.5px rgba(227, 198, 72, 0.5),
    1px -1px 1px rgba(42, 33, 39, 1);
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-card {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 1s;
}

.delay-3 {
  animation-delay: 1.5s;
}

.delay-4 {
  animation-delay: 2s;
}

/* styles.css */
.no-dark-mode{
  background-color: #0A0217 !important;
}
.no-dark-mode .dark\:border-r-DarkPurple .triangle {
  border-right-color:rgba(23, 23, 23, 1) !important;
  opacity: 1 !important;
}

.no-dark-mode .dark\:border-t-White .triangle {
  border-top-color: rgba(250, 250, 250, 1) !important;
  opacity: 1 !important;
}


@media screen and (min-width: 600px) {
  h1,
  h2,
  h3 {
    font-weight: 600;
  }
  h1 {
    font-size: 4rem;
    line-height: 4.8rem;
    
  }
  h2 {
    font-size: 3rem;
    line-height: 3.6rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
  h4 {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.75rem;
  }
  p {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
  }
  
  li {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  
  a {
    font-weight: 600;
    color: var(--urbanist-font-color);
    text-decoration: inherit;
  }
}
/* If the user prefers dark mode, 
we of course apply color-scheme: dark, as usual */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

/* If the user prefers light mode, 
we still enforce color-scheme: dark, despite the user preference */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
